BEGIN;
--
-- Create model Comment
--
CREATE TABLE "comments_comment" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "username" varchar(120) NOT NULL, "email" varchar(254) NOT NULL, "homepage" varchar(200) NULL, "text" text NOT NULL, "created_at" timestamp with time zone NOT NULL, "updated_at" timestamp with time zone NOT NULL, "parent_id" bigint NULL, "user_id" integer NOT NULL);
ALTER TABLE "comments_comment" ADD CONSTRAINT "comments_comment_parent_id_3e0802fb_fk_comments_comment_id" FOREIGN KEY ("parent_id") REFERENCES "comments_comment" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "comments_comment" ADD CONSTRAINT "comments_comment_user_id_a1db4881_fk_auth_user_id" FOREIGN KEY ("user_id") REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "comments_comment_parent_id_3e0802fb" ON "comments_comment" ("parent_id");
CREATE INDEX "comments_comment_user_id_a1db4881" ON "comments_comment" ("user_id");
COMMIT;
